.c-background {
    &--beige {
        background-color: #FFF7EF;
    }

    &--brown-normal {
        background-color:#9D8670;
    }

    &--brown-dark {
        background-color: #3C2B1C;
    }

    &--gray-perl {
        background-color: #F2EDE9;
    }

    &--gray-light {
        background-color: #F5F5F5;
    }

    &--white-plane {
        background-color: #FFFFFF;
    }

    &--white-soft {
        background-color: #FFFDFA;
    }

    &--black {
        background-color: #000000;
    }
}
