.c-font-size {
    &--14 {
        font-size: 14px;
    }

    &--16 {
        font-size: 16px;
    }

    &--19 {
        font-size: 19px;
    }

    &--20 {
        font-size: 20px;
    }

    &--22 {
        font-size: 22px;
    }

    &--24 {
        font-size: 24px;
    }

    &--28 {
        font-size: 28px;
    }

    &--30 {
        font-size: 30px;
    }

    &--34 {
        font-size: 34px;
    }

    &--36 {
        font-size: 36px;
    }

    &--40 {
        font-size: 40px;
    }

    &--41 {
        font-size: 41px;
    }

    &--44 {
        font-size: 44px;
    }

    &--60 {
        font-size: 60px;
    }

    &--64 {
        font-size: 64px;
    }

    &--80 {
        font-size: 80px;
    }
}