.c-search {
            height: 46px;
            width: auto;   
            margin-right: 11px;
            margin-left: auto;
    &__form {
        width: 396px;
        height:100%;
        border:1px solid #707070;
        border-radius: 10px;
    }

    &__button {
        width: 136px;
        height: 100%;
        border: 1px solid #707070;
        border-radius: 10px;
        margin-left: 8px;
    }
}