.p-whereeat {
    margin: 120px 107px 134px 111px;
    height: 1196px;
    width: 100%;
    display: flex;

    &--takeout {
        background-image: url(/img/takeout.jpg);
        background-size: auto 100%;
        background-position: center;
        width: 625px;
        padding: 0 20px;

        &__logo {
          margin-top: 20px;
          margin-bottom: 34.5px;
        }

        &__line {
          width: 63px;
        }

        &__content {
            margin-bottom: 20px;
            padding: 12px 20px 20px 20px;

            &__title {
                margin-bottom: 9px;   
        }
      }
    }
    
    &--eatin {
        background-image: url(/img/eatin.jpg);
        background-size: auto 100%;
        background-position: center;
        width: 625px;
        padding: 0 20px;
        margin-left: 80px;
        
        &__logo {
          margin-top: 20px;
          margin-bottom: 34.5px;
        }

        &__line {
          width: 63px;
        }

        &__content {
            margin-bottom: 20px;
            padding: 12px 20px 20px 20px;

            &__title {
                margin-bottom: 9px;
        }
      }
    }
} 